body
{
    margin: 0  
}

.page_container
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #F0C48D;
    justify-content: center;
    align-items: center;
}

.title
{
    font-size: 64px;
    font-weight: 1000;
    margin-top: -20px;
    color: #df7841;
    text-align: center;
    font-family: cursive;
}

.input_prompt
{
    font-size: 16px;
    font-weight: 700;
    color: #485dff;
    text-align: center;
}

.content_container
{
    display: flex;
    width: 1800px;
    align-items: center;
    justify-content: space-around;
}

.user_tools
{
    display: flex;
    flex-direction: column;
}

.brush_and_paint_container
{
    display: flex;
    align-self: flex-start;
    justify-content: flex-end;
    margin-top: -30px;
    margin-right: 0;
    width: 500px;
}

.paint_brush
{
    margin-top: 0px;
    margin-right: 25px;
}

.paint_and_eraser
{
    display: flex;
    flex-wrap: wrap;
    height: 650px;
    width: 350px;
    margin-right: 0;
    margin-left: 32px;
}

.paint_container,
.eraser_container,
.clear_all_container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 150px;
    margin-top: 12px;
    margin-bottom: 12px;
    gap: 12px;
}

.black_paint,
.shadding_paint,
.custom_paint,
.rainbow_paint,
.eraser,
.clear_all
{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: black;
}

.shadding_paint
{
    background: linear-gradient(black, rgb(148, 147, 147));
}

.custom_paint
{
    background-color: rgb(119, 35, 35);
}

.rainbow_paint
{
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
}

.paint_description,
.eraser_description,
.clear_all_description
{
    text-align: center;
    width: 130px;
    font-family: cursive;
}

.canvas_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-left: 28px;
    margin-top: -20px;
}
.canvas
{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    margin-left: 10px;
    margin-top: 0px;
    background-color: rgb(235, 197, 197);
}

.bottom_canvas_stand
{
    height: 300px;
    width: 500px;
}

.input_and_instructions_container
{
    margin-top: -50px;
    align-self: flex-start;
    margin-left: 25px;
    width: 500px;
}

h2
{
    font-size: 48px;
    font-weight: 700;
    font-family: cursive;
    color: #a1765f;
}

.instruction
{
    font-size: 32px;
    font-weight: 700;
    color: #b48972;
    font-family: cursive;
}

.size_limit
{
    font-weight: 1000;
    color: #8c6e5d;
    font-family: cursive;
}

span
{
    color: black;
    font-weight: 1000;
    font-family: cursive;
}

.canvas_size_slider_container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}

.slider_value
{
    text-align: center;
    font-family: cursive;
    font-size: 24px;
    margin-bottom: 20px;
}

/* The slider itself */
.slider 
{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 400px; /* Full-width */
    height: 20px; /* Specified height */
    background: #df7841; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

  .slider::-webkit-slider-thumb 
  {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 50px; /* Set a specific slider handle width */
    height: 50px; /* Slider handle height */
    border-radius: 50%;
    background: #b48972; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb 
  {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #b48972; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
